@use "media-queries" as *;

.container {
  width: 100%;

  @include sm {
    width: 100%;
    // background-color: lightblue;
  }

  @include md {
    width: 90%;
    // background-color: lightgreen;
  }

  @include lg {
    width: 80%;
    // background-color: lightcoral;
  }

  @include xl {
    width: 70%;
    // background-color: lightgoldenrodyellow;
  }

  @include xxl {
    width: 60%;
    // background-color: lightpink;
  }
}

.title {
  &-underline {
    // & fait référence au title, c'est comme si on avait title-underline
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--divider);
  }
}

.btn {
  border: 0;
  border-radius: 3px;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.2s;
  }
  &-primary {
    background: var(--primary);
    color: white;
  }
  &-secondary {
    border: 1px solid var(--primary);
    background: white;
    color: var(--primary);
  }
}

.text {
  &-error {
    color: var(--error);
  }
}
